<div class="contact-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="text-center">
          <h4 class="mb-2">Please feel free to contact us.</h4>
          <p><a class="contact-form-input" href="mailto:info@theseedsoflifecollection.co.za" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"> hello@theseedsoflifecollection.co.za </i></a></p>
          <p><a class="contact-form-input" href="https://wa.me/27823793373" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true">
          082 379 3373 </i></a></p>
        </div>
      </div>
      <div class="col-6">
        <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <%= form.label :name, class: "sr-only" %>
              <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <%= form.label :email, class: "sr-only" %>
              <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <%= form.label :message, class: "sr-only" %>
              <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
            </div>
          </div>
        </div>
        <%= form.submit "Send", class: "form_label mb-4" %>
        <% end %>
      </div>
    </div> <!-- end row-->
  </div>
</div>