<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'layouts/nav' %>
    <div class="mb-5"></div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>